{% extends 'base.html' %}

{% block title %}Home{% endblock %}
<div class="div">
<div class="title">
        <p>Welcome to the 4 year planner!</p>
    </div>
  </div>
{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!


  <br><br><br><br><br><br><br><br><br>
  <p><a href="{% url 'logout' %}">Sign Out</a></p>
  <p><a href="{% url 'index' %}">4 year planner</a></p>  <!--new-->
  <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Sign In</a>
{% endif %}
{% endblock %}
